html body{
    background-color: #c7e524d1;
      border: 0px;
     padding: 0px;
     display: grid;
     grid-template-areas: "header header header "
                         "categoria categoria categoria"
                         "productos productos productos";
     grid-template-rows:auto ;
     grid-template-columns: repeat(3, 1fr);
    
 }
 .card{
    
     margin: 20px;
     
 }
  img {
     
     border-radius: 50%;
     height: 30%;
     width: 30%;
     
     
    } 
 header{
     border-bottom: 5px  solid rgba(0, 0, 0, 0.589);
     grid-area:header;
     padding-top: 3%; 
     background-color: rgba(0, 0, 197, 0.801);
 }
 .productos{
     margin: 5px;
     grid-area:productos;
     
 }
 .btm{
     background-color:rgb(0, 0, 197) ;
 
 }
  div .btn-comprar{
     margin-left: 40%;
     background-color:green ;
 
 }
 .producto{
     background-color: white;
     border: solid black 3px ;
     border-radius: 10%;
     margin-top: 5%;
     margin-left: 30%;
     margin-right: 30%;
     /* display:  grid;
     grid-template-areas: "titulo titulo"
                         "material precio";
     grid-template-rows:20% 10% ;
     grid-template-columns: 70% 30%; */
 
 }
 .h1{
     grid-area:titulo;
 }
 h2{
     text-align: center;
 }
 .material{
     grid-area:material;
 }
 .precio{
     grid-area:precio;
 }
  div .card-img-top{
      object-fit: cover; 
      width: 60%;
      height: 80%;
     
     margin-left: 20%;
     /* max-width: 50%;
     max-height: 50%;  */
 }
 
 .categoria,.categorias{
     margin-top: 5%;
     margin-left: 30%;
     margin-right: 38%;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     grid-area: categoria;
     border-bottom: 3px dashed #0d6efd;
     border-top: 3px dashed #0d6efd;
     text-align: center;
 
 }
  select option{
      background-color:#212529 ;
     color: white;
    
 }
 .seleccategoria{
     border: #0d6efd solid 1px;
 }
 .alogo{
     margin-left: 48%;
 }
 .iniciarsesion{
     color: rgba(255, 255, 255, 0.562);
     cursor: pointer;
     margin-top: 3%;
     margin-left: 15%;
}
 .iniciarsesion,.iniciarsesionmenu:hover{
    color: #0d6efd;
    text-decoration: none;
 }
 .iniciarsesionmenu{
   color:  var(--bs-nav-link-color);
   text-decoration: none;
   cursor: pointer;
 }
 .navbar-toggler{
     margin-right: 3%;
 }
 h1.btn-outline-danger{
     margin: 5%;
 }
 .formnew{
     justify-items: center;
     display: grid;
     grid-template-areas: "dato"
                        "input";
     grid-template-rows:auto ;
     grid-template-columns: auto;
    

 } 
 .titulo,.form-select,.categorias, .precio,.material{
     grid-area: input;
 }
 .dato{
     grid-area: dato;
     
 }
 .insertado{
     background-color: green;
 }
 .btn-guardar{
     margin: 5%;
 }
 .btn-warning{
     margin-left: 5%;
     margin-top: 5%;
 }
 .btn-outline-danger{
     margin-top: 5%;
 }